In [9]:
import pandas as pd

df = pd.read_csv("C:/Users/admin/Downloads/archive (13)/WA_Fn-UseC_-Telco-Customer-Churn.csv")

# Preview the first 5 rows to understand data layout
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
# Check the size of the dataset (number of rows and columns)
df.shape

(7043, 21)

In [ ]:
# Get a concise summary of the dataset:
# column names, data types, and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
# Generate statistical summary for numerical columns
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [13]:
import numpy as np

# Replace the empty strings (' ') with NaN
df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan)

# Convert the column to a proper numeric type (float)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

# Check how many NaN values we introduced
print(f"Number of NaN values in TotalCharges: {df['TotalCharges'].isnull().sum()}")

# Drop the small number of rows with NaN (if it's less than 1% of your data)
df.dropna(subset=['TotalCharges'], inplace=True)

Number of NaN values in TotalCharges: 11

In [14]:
# We will categorize customers based on tenure (months)

# Define bins and labels
# Add 1 to max tenure to avoid duplicate edge error
bins = [0, 12, 24, 48, 72, df['tenure'].max() + 1]
labels = ['0-12', '13-24', '25-48', '49-72', '73+']

# Create Tenure_Group column
df['Tenure_Group'] = pd.cut(df['tenure'], bins=bins, labels=labels, right=True)

# Output: check first 5 rows
df[['tenure', 'Tenure_Group']].head()

   tenure Tenure_Group
0       1         0-12
1      34        25-48
2       2         0-12
3      45        25-48
4       2         0-12

In [15]:
# Check distribution of Tenure_Group
df['Tenure_Group'].value_counts()

# This allows analyzing churn patterns across different customer lifetimes

Tenure_Group
49-72    2239
0-12     2175
25-48    1594
13-24    1024
73+         0
Name: count, dtype: int64

In [16]:
# Standardize Categorical Columns
# Ensure all categorical columns are consistent and clean

# Identify object/categorical columns
obj_cols = df.select_dtypes(include='object').columns

# Strip leading/trailing spaces from all categorical columns
df[obj_cols] = df[obj_cols].apply(lambda x: x.str.strip())

# Fix Yes/No inconsistencies
yes_no_cols = ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']
for col in yes_no_cols:
    df[col] = df[col].replace({'yes': 'Yes', 'no': 'No'})

for col in obj_cols:
    print(f"{col}: {df[col].unique()}")
    print(df[col].value_counts())
    print('-----------------------')

customerID: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
customerID
7590-VHVEG    1
0265-PSUAE    1
2956-GGUCQ    1
6008-NAIXK    1
5956-YHHRX    1
             ..
7874-ECPQJ    1
9796-MVYXX    1
2637-FKFSY    1
1552-AAGRX    1
3186-AJIEK    1
Name: count, Length: 7032, dtype: int64
-----------------------
gender: ['Female' 'Male']
gender
Male      3549
Female    3483
Name: count, dtype: int64
-----------------------
Partner: ['Yes' 'No']
Partner
No     3639
Yes    3393
Name: count, dtype: int64
-----------------------
Dependents: ['No' 'Yes']
Dependents
No     4933
Yes    2099
Name: count, dtype: int64
-----------------------
PhoneService: ['No' 'Yes']
PhoneService
Yes    6352
No      680
Name: count, dtype: int64
-----------------------
MultipleLines: ['No phone service' 'No' 'Yes']
MultipleLines
No                  3385
Yes                 2967
No phone service     680
Name: count, dtype: int64
-----------------------
InternetService: ['DSL' 'Fiber optic' 'No']
InternetService
Fiber optic    3096
DSL            2416
No             1520
Name: count, dtype: int64
-----------------------
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineSecurity
No                     3497
Yes                    2015
No internet service    1520
Name: count, dtype: int64
-----------------------
OnlineBackup: ['Yes' 'No' 'No internet service']
OnlineBackup
No                     3087
Yes                    2425
No internet service    1520
Name: count, dtype: int64
-----------------------
DeviceProtection: ['No' 'Yes' 'No internet service']
DeviceProtection
No                     3094
Yes                    2418
No internet service    1520
Name: count, dtype: int64
-----------------------
TechSupport: ['No' 'Yes' 'No internet service']
TechSupport
No                     3472
Yes                    2040
No internet service    1520
Name: count, dtype: int64
-----------------------
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingTV
No                     2809
Yes                    2703
No internet service    1520
Name: count, dtype: int64
-----------------------
StreamingMovies: ['No' 'Yes' 'No internet service']
StreamingMovies
No                     2781
Yes                    2731
No internet service    1520
Name: count, dtype: int64
-----------------------
Contract: ['Month-to-month' 'One year' 'Two year']
Contract
Month-to-month    3875
Two year          1685
One year          1472
Name: count, dtype: int64
-----------------------
PaperlessBilling: ['Yes' 'No']
PaperlessBilling
Yes    4168
No     2864
Name: count, dtype: int64
-----------------------
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
PaymentMethod
Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: count, dtype: int64
-----------------------
Churn: ['No' 'Yes']
Churn
No     5163
Yes    1869
Name: count, dtype: int64
-----------------------

In [17]:
# saves the cleaned file to csv
df.to_csv('cleaned_telco_data.csv', index=False)